<b>Note</b>: Pada kuis kali ini kita akan menggunakan data diamonds.csv yang bisa kalian download [disini](https://drive.google.com/uc?export=download&id=1qQiM9utQUThTPq8jk8stPMh_y2zfqYOd). setelah di download, kalian pindahkan data tersebut satu level dengan direktori file notebook ini.

In [19]:
import pandas as pd
import numpy as np
df = pd.read_csv('diamonds-3.csv')
df.drop('Unnamed: 0', axis=1, inplace=True)

Columns Metadata:

carat: berat diamond

cut: kualitas diamond

color: warna diamond

clarity: level kemurnian diamonds

depth: tinggi dari diamond tabel

table: lebar  dari diamond tabel

price: harga diamond ($US)

x: panjang

y: lebar

z: kedalaaman

<h2>Soal 1: Process Grouping</h2>

Jelaskan prosess yang terjadi dalam grouping data menggungkan method <b>groupby()</b> dari pandas.

jawab: fungsi digunakan untuk membagi data menjadi beberapa kelompok berdasarkan beberapa kriteria. objek panda dapat dibagi di salah satu axisnya.

<h2>Soal 2: Grouping All Column</h2>
    
Group data diamond berdasarkan cut (kualitas), lakukan aggregasi dengan fungsi rata2.

Kemudian jawab pertanyaan berikut.
- Berapa harga rata2 dari diamond berkualitas Premium

Expected Output:

![alt text](https://drive.google.com/uc?id=1GKanuLzNv_pYBFVRBmQywxQw39uQBvSl)

In [20]:
a = df.groupby(['cut'])[['carat','depth','table','price']].agg(['mean'])
print(a)

              carat      depth      table        price
               mean       mean       mean         mean
cut
Fair       1.046137  64.041677  59.053789  4358.757764
Good       0.849185  62.365879  58.694639  3928.864452
Ideal      0.702837  61.709401  55.951668  3457.541970
Premium    0.891955  61.264673  58.746095  4584.257704
Very Good  0.806381  61.818275  57.956150  3981.759891

jawab:4584.257704

<h2>Soal 3: Grouping Some Column base on Multiple Criteria</h2>
    
Lakukan groupby pada data berdasarkan kriteria cut (kualitas) dan color (warna) secara berurutan, dengan aggregasi pada column carat, table, dan price saja. dengan fungsi agregasi rata-rata.

Kemudian jawab pertanyaan berikut:
- Berapa harga diamond yang berkriteria premium dan berwarna J
- Berapa nilai dari carat diamond yang berkriteria very good dan berwarna H

Expected Output:

Note: gambar hanya sebagaian dari keseluruhan data

![alt text](https://drive.google.com/uc?id=1XB_uHor7ZCPQUH9uQjSfd6aC6_yJnjh9)

In [21]:
a = df.groupby(['cut','color'])[['carat','table','price']].mean()
print(a)

                    carat      table        price
cut       color
Fair      D      0.920123  58.969325  4291.061350
          E      0.856607  59.364732  3682.312500
          F      0.904712  59.453205  3827.003205
          G      1.023822  58.773248  4239.254777
          H      1.219175  58.696370  5135.683168
          I      1.198057  59.237143  4685.445714
          J      1.341176  58.917647  4975.655462
Good      D      0.744517  58.541541  3405.382175
          E      0.745134  58.779957  3423.644159
          F      0.775930  58.910891  3495.750275
          G      0.850896  58.471986  4123.482204
          H      0.914729  58.611111  4276.254986
          I      1.057222  58.773946  5078.532567
          J      1.099544  58.813029  4574.172638
Ideal     D      0.565766  55.965632  2629.094566
          E      0.578401  55.967461  2597.550090
          F      0.655829  55.924203  3374.939362
          G      0.700715  55.902375  3720.706388
          H      0.799525  55.965843  3889.334831
          I      0.913029  56.021357  4451.970377
          J      1.063594  56.012612  4918.186384
Premium   D      0.721547  58.718964  3631.292576
          E      0.717745  58.779461  3538.914420
          F      0.827036  58.679279  4324.890176
          G      0.841488  58.702360  4500.742134
          H      1.016449  58.792034  5216.706780
          I      1.144937  58.771849  5946.180672
          J      1.293094  58.874752  6294.591584
Very Good D      0.696424  58.041309  3470.467284
          E      0.676317  58.038875  3214.652083
          F      0.740961  57.848429  3778.820240
          G      0.766799  57.784428  3872.753806
          H      0.915948  57.903015  4535.390351
          I      1.046952  58.105150  5255.879568
          J      1.133215  58.277729  5103.513274

jawab:
1. 3631.292576
2. 0.915948

<h2>Soal 4: Group By Multiple Aggregate Base on Multiple Criteria</h2>
    
Lakukan groupby pada data berdasarkan kriteria cut(kualitas) dan color (warna) secara berurutan kemudian aggregasi objek group by nya dengan fungsi rata2 dan median.

Kemudian Jawab Pertanyaan berikut:

- Berapa nilai median dari harga diamond berkualitas good dan berwarna F

Expected Output:

Note : gambar hanya sebagaian dari keseluruhan data

![alt text](https://drive.google.com/uc?id=1fUPIse5ELrzj26ZyWBqsAVOUb6yf7UoD)

In [22]:
c = df.groupby(['cut','color'])[['price']].agg(['mean','median'])
print(c)

                       price
                        mean  median
cut       color
Fair      D      4291.061350  3730.0
          E      3682.312500  2956.0
          F      3827.003205  3035.0
          G      4239.254777  3057.0
          H      5135.683168  3816.0
          I      4685.445714  3246.0
          J      4975.655462  3302.0
Good      D      3405.382175  2728.5
          E      3423.644159  2420.0
          F      3495.750275  2647.0
          G      4123.482204  3340.0
          H      4276.254986  3468.5
          I      5078.532567  3639.5
          J      4574.172638  3733.0
Ideal     D      2629.094566  1576.0
          E      2597.550090  1437.0
          F      3374.939362  1775.0
          G      3720.706388  1857.5
          H      3889.334831  2278.0
          I      4451.970377  2659.0
          J      4918.186384  4096.0
Premium   D      3631.292576  2009.0
          E      3538.914420  1928.0
          F      4324.890176  2841.0
          G      4500.742134  2745.0
          H      5216.706780  4511.0
          I      5946.180672  4640.0
          J      6294.591584  5063.0
Very Good D      3470.467284  2310.0
          E      3214.652083  1989.5
          F      3778.820240  2471.0
          G      3872.753806  2437.0
          H      4535.390351  3734.0
          I      5255.879568  3888.0
          J      5103.513274  4113.0

jawab:

<h2>Soal 5: Group By With Different Aggregation for specific Column</h2>
    
Lakukan groupby pada data berdasarkan criteria cut(kualitas), kemudian aggreagate dengan fungsi max pada column price dan fungsi min pada column carat.

Kemudian Jawab Pertanyaan berikut:

- Berapa nilai max dari price untuk diamond berkualitas Ideal

Expected Output:

![alt text](https://drive.google.com/uc?id=1B_z5PBkLe4hNJJJV3JgDGP9G--llytKf)

In [23]:
a = df.groupby('cut')[['price']].max()
b = df.groupby('cut')[['carat']].min()
c = pd.concat([a,b],axis=1 , join='inner')
print(c)

           price  carat
cut
Fair       18574   0.22
Good       18788   0.23
Ideal      18806   0.20
Premium    18823   0.20
Very Good  18818   0.20

jawab:

<h2>Soal 6: Group By With Custom Function</h2>
    
Lakukan groupby pada data berdasarkan criteria cut(kualitas), kemudian lakukan aggregasi dengan fungsi standar deviasi pada column carat dan fungsi rentang nilai antara max dan min pada column price.

Kemudian jawab pertanyaan berikut:
- Berapa selisih harga tertinggi dan terendah dari diamond berkualitas Premium

Expected Output:

![alt text](https://drive.google.com/uc?id=1bl6_8KryXCxLfzpAf4YF80Qvt15a3uQ6)

In [26]:
a = df.groupby(['cut'])[['price','carat']].agg(price=('price',np.ptp),carat=('carat',np.std))
print(a)

           price     carat
cut
Fair       18237  0.516404
Good       18461  0.454054
Ideal      18480  0.432876
Premium    18497  0.515262
Very Good  18482  0.459435

jawab:18496.484738